<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <style>
        div {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <h1>Liftr</h1>

    <div id="connect">
        <button onclick="connect()">Connect</button>
        status: <span id="connected-status">not connected</span>
    </div>
    
    <div id="register" hidden>
        <input type="text" id="session-key">
        <button id="submit" onclick="register()">Register</button>
    </div>

    <div id="selection-buttons" hidden>
        <p>Successfully registered, choose a workout...</p>
        <button onclick="selectExercise('shoulder_press')">Shoulder Press</button>
        <button onclick="selectExercise('bicep_curl')">Bicep Curl</button>
    </div>

    <div id="start-exercise" hidden>
        <button onclick="startExercise()">Start Exercise</button>
    </div>

    <div id="session" hidden>
        <h1>critiques</h1>
        <div>
            reps: <span id="rep_counter">0</span>
        </div>
    </div>

    <script src="/static/socket.io.js"></script>
    <script>
        let views = [
            'connect', 
            'register',
            'selection-buttons',
            'start-exercise',
            'session'
        ];
        let showView = (view) => {
            views.forEach(view_id => {
                e = document.getElementById(view_id)
                if (e) {
                    if (view_id == view) {
                        e.hidden = false;
                    } else {
                        e.hidden = true;
                    }
                }
            });
        }

        let socket;

        let connect = () => {
            socket = io('http://liftr.ngrok.io/');

            socket.on('connect', () => {
                document.getElementById('connected-status').innerHTML = 'connected';
                showView('register')
            });

            socket.on('make_critique', (data) => {
                let elem = "<div>" +
                           "<img width=400 src='http://"+ data['image'] +"'>" +
                           "<p>"+ data['caption'] +"</p>" +
                           "</div>";
                document.getElementById('session').innerHTML += elem;
            });
        }
        
        let register = () => {
            socket.emit('register_app', {
                's_key': document.getElementById('session-key').value
            }, (data) => {
                data = JSON.parse(data)
                if (data.success == true) {
                    showView('selection-buttons')
                } else {
                }
            });
        }

        let selectExercise = (exercise) => {
            socket.emit('select_exercise', {
                exercise
            }, () => showView('start-exercise'));
        }

        let startExercise = () => {
            socket.emit('start_exercise', {
                reps: 10
            }, () => showView('session'))
        }
    </script>
</body>
</html>